html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}


/* MISE EN FORME GENERIQUE */

nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position:fixed;
    top:0;
    z-index:100;
}

nav ul {
    margin: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin: 0 5px;
    transition: all .2s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.3);
}

main {
    display: flex;
    width: 100vw;
    height: 70vh;
    margin-top:70px;
    flex-direction: row;
    align-items: stretch;
}

section {
    display: flex;
    flex-direction: column;
    flex: 3;
    transition: all .3s ease-in-out;
}

article:nth-child(2) {
    overflow-y: auto;
}

article p {
    padding: 4px 12px;
}

aside {
    flex: 1;
    background: #E9E9E9;
    transition: all .3s ease-in-out;
}

video {
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
}

/* VUE EN COLONNE */

.vueColonne {
    flex-direction: column;
    width: 80vw;
    margin: auto;
    align-items: stretch;
}

.vueColonne>* {
    align-items: stretch;
    height: auto;
    display:block;
}

.vueColonne section {
    flex-direction: row;
}

.vueColonne > section > article {
    
}
.vueColonne section video{
    object-fit: contain;
}
.vueColonne aside {
    min-height: 300px;
}


/* VIDEO A 100% */

.videoMax video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}