body{
    text-align:center;
}
h1{
    display:inline-block;
    position: relative;
}
.move{
    animation: move 2s ;
}
@keyframes move{
    0%{transform: translateX(0px);}
    50%{transform: translateX(200px);}
    100%{transform: translateX(0px);}
}